@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
   
    font-family: "Lobster";
    position: 
}



body {
    background: #410488;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    height: 100%
}

main {
    
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

h1 {
    display: inline-block;
    margin: auto;
    text-align: justify;
    border: none;
    color: rgb(138, 49, 221);
    
}


main .social-media {
    display: flex;
    align-content: center;
}

main .social-media img {
    margin-left: 15px;
    width: 36px;
    align-content: center;
}


/* tira a margem esquerda do loguinho */
main .social-media a:first-child img {
    margin-left: 0px;
}


main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
}


main .alternative span::before,
main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50px;
    right: 50px;
    background: #000000;
    bottom: 50%;


}

main .alternative span::after {
    left: 50px;

}

main form {
    display: flex;
    flex-direction: column;
    align-content: left;
    align-tracks: center;
}


main form label {
    display: flex;
    flex-direction: column;
    align-content: center;
}

main form span {
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

main form input {
    background: #7b08ff4f;
    width: 300px;
    height: 25px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: #0000007a;
    font-size: 16px;
    border-radius: 8px;
    border: 1px, solid #7008167a;
}

main form input[type="submit"] {

    cursor: pointer;
    width: 50%;
    margin-top: 3rem;
    border: none;
    border-radius: 32px;
    background: #7b08ff7a;
    color: #ffffff;
    font-size: 15px;


}

main form input[type="submit"]:hover {
    background: #7b08ff41;
}


section.images {
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}

section.images img {
    width: 150%;
}

/* ;CIRCULINHO */

section.images .circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #ff2f0a, #fffb0a);
    clip-path: circle(40% at right 70%);
    z-index: -1;
}

}